autosave/
backup/
backup/zile_backup/
auto-save-list/
url/
elpa/gnupg
root_emacs.d/elpa/gnupg
ido.last
ido.last~
.\#ido.last
eshell/
abbrev_defs
semanticdb/
root_emacs.d/elpa/archives
elpa/archives
games/
zile_backup/
recentf
%backup%~
tramp

